*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.bandera{
    height: 200px;
    width: 300px;
    margin: 25px;
    border: 1px solid black;
}
.franja{
    height: 200px;
    width: 300px;
}
.horizontal{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.vertical{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.celeste{
    background-color: lightskyblue;
}
.azul{
    background-color: blue;
}
.amarilla{
    background-color: yellow;
}
.verde{
    background-color: green;
}
.blanca{
    background-color: white;
}
.roja{
    background-color: red;
}
.negra{
    background-color: black;
}

