body{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
h1{
    font-size: 30px;
}
h2{
    font-size: 25px;
}
h3{
    font-size: 20px;
}
p{
    font-size: 15px;
}
.cancelada{
    background-color: red;
}
.hecha{
    background-color: green;
}
.haciendo{
    background-color: orange;
}
.pendiente{
    background-color: blue;
}