.pino1{
    font-size: 18px;
}
.arbol1{
    font-size: 10px;
}
.arbol2{
    font-size: 5px;
}
.casa1{
    font-size: 13px;
}
.edificio{
    font-size: 7px;
}
.banco{
    font-size: 30px;
}
.casa2{
    font-size: 25px;
}
.casa3{
    font-size: 9px;
}
.pino2{
    font-size: 30px;
}
.arbol3{
    font-size: 25px;
}
