body{
    background-color: black;
}
h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 120px;
    font-weight: 800;
}

p {
    color:beige;
    font-family: 'Poppins', sans-serif;
    ;
    font-size: 48px;
    font-weight: 600;
}
.titulo{
    color: pink;
}
.sofi {
    color: deeppink;
}

.baby {
    color: fuchsia;
}

.mama {
    color: hotpink;
}

.boca{
    color: plum;
}